{{- define "main" -}}

<article class="article">

  {{ partial "page_header" . }}

  <div class="article-container">

    <div class="article-style">
      {{ .Content }}
    </div>

    {{/*  {{ partial "page_footer" . }}  */}}

  </div>
</article>

{{- end -}}
